@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a:link {
    color: #ffffff;
}

body {
    background-image: linear-gradient(green, #045405);
}

:root {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}   

header {
    display: flex;
    background-color: #35974e;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 5rem;
}

#img-logo {
    width: 140px;
    height: 70px;
}

h1 {
    font-size: 40px;
    color: white;
    text-align: center;
}

#area-user button {
    margin-right: 10px;
}

#btn-minha-conta,
#btn-sair-conta {
    width: 90px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 7px 7px 7px black;
    border: 0;
    box-shadow: 7px, 7px, 7px, black;
    cursor: pointer;
    color: #ffffff;
}

#btn-minha-conta {
    background-color: #73f190 ;

}

#btn-sair-conta {
    background-color: #17181b;
}

.container-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 8%;
    left: 5%;
    width: 30%;

} 

.container-main-busca-gps {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 2.5rem;
    padding: 25px;
    box-shadow: 7px, 7px, 7px, black;
    background-color: #35974e;
}

.container-input-esporte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-cep {
    margin-bottom: 15px;
}

.input-cep input {
    text-align: center;
}

.input-cep input::placeholder {
    text-align: center;
}

.input-cep input, select {
    border-radius: 20px;
    border: 1px solid black;
    width: 29vh;
    height: 4vh;
}

select option {
    text-align: center;
}

.imagem-gps {
    width: 100%;
}

.enderecos-gps {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-main-cards {
    position: absolute;
    top: 30%;
    margin-left: 43%;    
}

/* .lugares-encontrados {
    margin-bottom: 25px;
} */

.card {
    margin-top: 30px;
    border: 0;
    box-shadow: 7px 7px 7px black;
    /* border: 1px solid black; */
    border-radius: 10px;
    height: 270px;
    width: 45rem;
    background-color: #35974e;
}

.nome-lugar {
    padding: 15px;
    padding-left: 100px;
}

.card-vertical {
    display: flex;
    align-items: flex-end;
    gap: 30px;
}

.container-enderecos {
    margin-bottom: 30px;
}

.container-enderecos p {
    padding-bottom: 28px;
}


.foto-centro-esportivo {
    width: 90%;
    height: 100%;
    margin-left: 30px;
}

#btn-agendar {
    border: 0.5 solid black;
    cursor: pointer;
    border-radius: 20px;
    background-color: #73f190;
    box-shadow: 5px 5px 5px black;
    border: 0;
    color: white;
    width: 100px;
    height: 35px;
    margin-bottom: 0;
    margin-left: 0;
}