/* Importando a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

/* Resetando as margens, padding e box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(/src/images/fundos/fundoTelaLogin.png);
    background-size: cover;
}

/* Estilo do logo do login */
#figureLogoLogin{
    display: flex;
    width: 100%;
   justify-content: center;
}

/* Estilo da imagem do logo do login */
.logoLogin{
    width: 15vw;
}

/* Estilo do container principal */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

/* Estilo do conteúdo */
.content {
    background-color: #fff;
    border-radius: 15px;
    width: 960px;
    height: 60%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Estilo do pseudo-elemento ::before do conteúdo */
.content::before {
    content: "";
    position: absolute;
    background-color: #e67326;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}

/* Estilo do título */
.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

/* Estilo do título principal */
.title-primary {
    color: #fff;
}

/* Estilo do subtítulo */
.title-second {
    color: #ff7b00;
}

/* Estilo da descrição */
.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

/* Estilo da descrição secundária */
.description-primary {
    color: #fff;
}


.description-second {
    color: #8d877f;
}

/* Estilo do botão */
.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: none;
    margin-top: 1rem;
}

/* Estilo do botão primário */
.btn-primary {
    background-color: transparent;
    border: 1px solid #fff;
    transition: background-color .5s;
}

/* Estilo do botão primário quando em hover */
.btn-primary:hover {
    background-color: #fff;
    color: #ff7b00;
}

/* Estilo do botão secundário */
.btn-second {
    background-color: #ff7b00;
    border: 1px solid #ff7b00;
    transition: background-color .5s;
}

/* Estilo do botão secundário quando hover */

.btn-second:hover {
    background-color: #fff;
    border: 1px solid #ff7b00;
    color: #ff7b00;
}

/* Estilo do conteúdo da primeira coluna */

.first-content {
    display: flex;
}

/* Estilo da segunda coluna no conteúdo da primeira coluna */

.first-content .second-column {
    z-index: 11;
}
.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}
.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media {
    margin: 1rem 0;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.link-social-media {
    color: #bdc3c7;
}
.link-social-media:hover {
    color: #fff;
}
.item-social-media  {
    transition: background-color .5s;
}
.item-social-media:hover {
    background-color: #ff7b00;
    border-color: #ff7b00;
}
.list-social-media {
    display: flex;
    list-style-type: none;
    gap: 15px;
}
.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}
.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input {
    height: 45px;
    width: 100%;
    border: none;  
    background-color: #ecf0f1;
    padding-left: 10px;
}
input:-webkit-autofill 
{    
    -webkit-box-shadow: 0 0 0px 1000px #ecf0f1 inset !important;
    -webkit-text-fill-color: #000 !important;
}
.label-input {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
    border-radius: 5px;
}
.icon-modify {
    color: #7f8c8d;
    padding: 0 5px;
}

/* Estilo do conteúdo da segunda coluna */
.second-content {
    position: absolute;
    display: flex;
}
.second-content .first-column {
    order: 2;
    z-index: -1;
}
.second-content .second-column {
    order: 1;
    z-index: -1;
}
.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}
.password::first-letter {
    text-transform: capitalize;
}



.sign-in-js .first-content .first-column {
    z-index: -1;
}

.sign-in-js .second-content .second-column {
    z-index: 11;
}
.sign-in-js .second-content .first-column {
    z-index: 13;
}

.sign-in-js .content::before {
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.3s;

    z-index: 12;
}

.sign-up-js .content::before {
    animation: slideout 1.3s; 

    z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1;
}

.sign-up-js .first-content .second-column {
    z-index: 11;
}

.sign-up-js .first-content .first-column {
    z-index: 13;    
}


/* DESLOCAMENTO CONTEÚDO ATRÁS DO CONTENT:BEFORE*/
.sign-in-js .first-content .second-column {

    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.3s;

}

.sign-up-js .second-content .second-column {
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.3s; 
}

/* MENSAGEM DE SUCESSO, CASO O CADASTRO TENHA SUCESSO */

.mensagem-escondida {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .mensagem-aparecendo {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

  #mensagem{
    display: flex;
    width: 170px;
    border: 1px solid #42220338;
    padding: 10px 5px;
    border-radius: 10px;
    font-weight: bold;
    background-color: rgba(67, 240, 24, 0.719);
    color: #fff;
    margin: auto;
    margin-top: 20px;
  }

/*ANIMAÇÃO CSS PARA O CONTEÚDO*/

@keyframes deslocamentoEsq {

    from {
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    to {
        left: -110px;
        opacity: 0;
        z-index: -1;
    }
}


@keyframes deslocamentoDir {

    from {
        opacity: 1;
        left: 0;
        z-index: 12;
    }

    to {
        
        opacity: 0;
        left: 90px;
        z-index: -1;
    }
}


/*ANIMAÇÃO CSS*/

@keyframes slidein {

    from {
        left: 0;
        width: 40%;
    }

    to {
        left: 60%;
        width: 40%;
    }
}

@keyframes slideout {

    from {
        left: 60%;
        width: 40%;
    }

    to {
        left: 0;
        width: 40%;
    }
}
